<div class="posts">

  <% @posts.each do |post| %>
    <div class="post">
      <p><%= link_to post.title, post %><br>
      <span class="date">Posted: <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %></span></p>
    </div>
  <% end %>
  <br>

</div>